# Análisis de Accidentes de Motocicleta en EE.UU. usando Python y el Dataset FARS

## Introducción

En esta práctica se desarrolla un análisis exploratorio de datos aplicando herramientas vistas en el curso, como **NumPy**, **Pandas** y **Matplotlib**, con el fin de profundizar en el tratamiento, manipulación y visualización de conjuntos de datos reales y complejos.

El conjunto de datos utilizado proviene de **FARS (Fatality Analysis Reporting System)**, un sistema gestionado por la *Administración Nacional de Seguridad del Tráfico en las Carreteras de Estados Unidos* (NHTSA), que recopila información detallada sobre accidentes de tráfico fatales ocurridos en todo el país.

Este análisis se enfoca exclusivamente en los accidentes de motocicleta, con el propósito de **extraer información relevante para la seguridad vial de los motociclistas**. A través del procesamiento y visualización de estos datos, se espera detectar patrones frecuentes, zonas del cuerpo más afectadas, influencia del uso de casco, factores de riesgo y otros elementos críticos para la prevención de accidentes fatales.

El trabajo se estructura en etapas que incluyen la carga y limpieza de los datos, su análisis descriptivo y la representación gráfica de los resultados más relevantes. Con esto, se busca no solo cumplir los objetivos técnicos de la asignatura, sino también generar una reflexión crítica sobre la importancia del análisis de datos en la toma de decisiones sociales.

---

In [7]:
# SECCIÓN 2 - Carga y exploración inicial de datos
import pandas as pd

# Ruta base donde se encuentran los archivos
ruta = 'Data/'

# Carga de archivos principales
df_person = pd.read_csv(ruta + 'PERSON.csv', encoding='latin1', low_memory=False)
df_vehicle = pd.read_csv(ruta + 'VEHICLE.csv', encoding='latin1', low_memory=False)
df_accident = pd.read_csv(ruta + 'ACCIDENT.csv', encoding='latin1', low_memory=False)

# Vista general
print("Dimensiones de los datasets:")
print(f"PERSON: {df_person.shape}")
print(f"VEHICLE: {df_vehicle.shape}")
print(f"ACCIDENT: {df_accident.shape}")

# Vistazo a las primeras filas de cada uno
print("\nPersonas involucradas:")
display(df_person.head(3))

print("\nVehículos involucrados:")
display(df_vehicle.head(3))

print("\nAccidentes registrados:")
display(df_accident.head(3))

# Comprobación de claves para unión (ST_CASE está en todos)
print("\n¿Hay claves duplicadas en ACCIDENT?")
print(df_accident['ST_CASE'].duplicated().any())  # Debe ser False

# Unión PERSON + VEHICLE (relación de muchos a muchos)
df_per_veh = pd.merge(df_person, df_vehicle, on=['ST_CASE', 'VEH_NO'], how='inner')

# Unión con ACCIDENT (1 a muchos)
df_full = pd.merge(df_per_veh, df_accident, on='ST_CASE', how='left')

# Renombramos la columna BODY_TYP (la que viene de la tabla vehicle)
df_full = df_full.rename(columns={'BODY_TYP_y': 'BODY_TYP'})

print(f"\nDataset combinado final: {df_full.shape}")
display(df_full.head())

Dimensiones de los datasets:
PERSON: (86396, 126)
VEHICLE: (54552, 201)
ACCIDENT: (35935, 81)

Personas involucradas:

,STATE,STATENAME,ST_CASE,VE_FORMS,VEH_NO,PER_NO,STR_VEH,COUNTY,DAY,DAYNAME,...,VPICMODEL,VPICMODELNAME,VPICBODYCLASS,VPICBODYCLASSNAME,ICFINALBODY,ICFINALBODYNAME,GVWR_FROM,GVWR_FROMNAME,GVWR_TO,GVWR_TONAME
0,1,Alabama,10001,1,1,1,0,51,1,1,...,2475.0,ES,13.0,Sedan/Saloon,0.0,Not Applicable,11.0,"Class 1: 6,000 lbs. or less (2,722 kg or less)",11.0,"Class 1: 6,000 lbs. or less (2,722 kg or less)"
1,1,Alabama,10001,1,1,2,0,51,1,1,...,2475.0,ES,13.0,Sedan/Saloon,0.0,Not Applicable,11.0,"Class 1: 6,000 lbs. or less (2,722 kg or less)",11.0,"Class 1: 6,000 lbs. or less (2,722 kg or less)"
2,1,Alabama,10001,1,1,3,0,51,1,1,...,2475.0,ES,13.0,Sedan/Saloon,0.0,Not Applicable,11.0,"Class 1: 6,000 lbs. or less (2,722 kg or less)",11.0,"Class 1: 6,000 lbs. or less (2,722 kg or less)"

Vehículos involucrados:

,STATE,STATENAME,ST_CASE,VEH_NO,VE_FORMS,NUMOCCS,NUMOCCSNAME,DAY,DAYNAME,MONTH,...,GVWR_FROM,GVWR_FROMNAME,GVWR_TO,GVWR_TONAME,TRLR1GVWR,TRLR1GVWRNAME,TRLR2GVWR,TRLR2GVWRNAME,TRLR3GVWR,TRLR3GVWRNAME
0,1,Alabama,10001,1,1,4,04,1,1,1,...,11,"Class 1: 6,000 lbs. or less (2,722 kg or less)",11,"Class 1: 6,000 lbs. or less (2,722 kg or less)",77,No Trailing Units,77,No Trailing Units,77,No Trailing Units
1,1,Alabama,10002,1,4,2,02,2,2,1,...,11,"Class 1: 6,000 lbs. or less (2,722 kg or less)",11,"Class 1: 6,000 lbs. or less (2,722 kg or less)",77,No Trailing Units,77,No Trailing Units,77,No Trailing Units
2,1,Alabama,10002,2,4,1,01,2,2,1,...,12,"Class 2: 6,001 - 10,000 lbs. (2,722 - 4,536 kg)",12,"Class 2: 6,001 - 10,000 lbs. (2,722 - 4,536 kg)",77,No Trailing Units,77,No Trailing Units,77,No Trailing Units

Accidentes registrados:

,STATE,STATENAME,ST_CASE,VE_TOTAL,VE_FORMS,PVH_INVL,PEDS,PERNOTMVIT,PERMVIT,PERSONS,...,ARR_HOUR,ARR_HOURNAME,ARR_MIN,ARR_MINNAME,HOSP_HR,HOSP_HRNAME,HOSP_MN,HOSP_MNNAME,FATALS,DRUNK_DR
0,1,Alabama,10001,1,1,0,0,0,4,4,...,3,3:00am-3:59am,10,10,99,Unknown,99,Unknown EMS Hospital Arrival Time,3,1
1,1,Alabama,10002,4,4,0,0,0,6,6,...,17,5:00pm-5:59pm,26,26,99,Unknown,99,Unknown EMS Hospital Arrival Time,1,0
2,1,Alabama,10003,2,2,0,0,0,2,2,...,15,3:00pm-3:59pm,15,15,99,Unknown,99,Unknown EMS Hospital Arrival Time,1,0

¿Hay claves duplicadas en ACCIDENT?
False

Dataset combinado final: (77790, 405)

,STATE_x,STATENAME_x,ST_CASE,VE_FORMS_x,VEH_NO,PER_NO,STR_VEH,COUNTY_x,DAY_x,DAYNAME_x,...,ARR_HOUR,ARR_HOURNAME,ARR_MIN,ARR_MINNAME,HOSP_HR,HOSP_HRNAME,HOSP_MN,HOSP_MNNAME,FATALS,DRUNK_DR
0,1,Alabama,10001,1,1,1,0,51,1,1,...,3,3:00am-3:59am,10,10,99,Unknown,99,Unknown EMS Hospital Arrival Time,3,1
1,1,Alabama,10001,1,1,2,0,51,1,1,...,3,3:00am-3:59am,10,10,99,Unknown,99,Unknown EMS Hospital Arrival Time,3,1
2,1,Alabama,10001,1,1,3,0,51,1,1,...,3,3:00am-3:59am,10,10,99,Unknown,99,Unknown EMS Hospital Arrival Time,3,1
3,1,Alabama,10001,1,1,4,0,51,1,1,...,3,3:00am-3:59am,10,10,99,Unknown,99,Unknown EMS Hospital Arrival Time,3,1
4,1,Alabama,10002,4,1,1,0,73,2,2,...,17,5:00pm-5:59pm,26,26,99,Unknown,99,Unknown EMS Hospital Arrival Time,1,0

In [15]:
print(df_motos.columns.tolist())

['STATE_x', 'STATENAME_x', 'ST_CASE', 'VE_FORMS_x', 'VEH_NO', 'PER_NO', 'STR_VEH', 'COUNTY_x', 'DAY_x', 'DAYNAME_x', 'MONTH_x', 'MONTHNAME_x', 'HOUR_x', 'HOURNAME_x', 'MINUTE_x', 'MINUTENAME_x', 'RUR_URB_x', 'RUR_URBNAME_x', 'FUNC_SYS_x', 'FUNC_SYSNAME_x', 'HARM_EV_x', 'HARM_EVNAME_x', 'MAN_COLL_x', 'MAN_COLLNAME_x', 'SCH_BUS_x', 'SCH_BUSNAME_x', 'MAKE_x', 'MAKENAME_x', 'MAK_MOD_x', 'MAK_MODNAME_x', 'BODY_TYP_x', 'BODY_TYPNAME_x', 'MOD_YEAR_x', 'MOD_YEARNAME_x', 'TOW_VEH_x', 'TOW_VEHNAME_x', 'SPEC_USE_x', 'SPEC_USENAME_x', 'EMER_USE_x', 'EMER_USENAME_x', 'ROLLOVER_x', 'ROLLOVERNAME_x', 'IMPACT1_x', 'IMPACT1NAME_x', 'FIRE_EXP_x', 'FIRE_EXPNAME_x', 'AGE', 'AGENAME', 'SEX', 'SEXNAME', 'PER_TYP', 'PER_TYPNAME', 'INJ_SEV', 'INJ_SEVNAME', 'SEAT_POS', 'SEAT_POSNAME', 'REST_USE', 'REST_USENAME', 'REST_MIS', 'REST_MISNAME', 'AIR_BAG', 'AIR_BAGNAME', 'EJECTION', 'EJECTIONNAME', 'EJ_PATH', 'EJ_PATHNAME', 'EXTRICAT', 'EXTRICATNAME', 'DRINKING', 'DRINKINGNAME', 'ALC_DET', 'ALC_DETNAME', 'ALC_STATUS', 'ALC_STATUSNAME', 'ATST_TYP', 'ATST_TYPNAME', 'ALC_RES', 'ALC_RESNAME', 'DRUGS', 'DRUGSNAME', 'DRUG_DET', 'DRUG_DETNAME', 'DSTATUS', 'DSTATUSNAME', 'HOSPITAL', 'HOSPITALNAME', 'DOA', 'DOANAME', 'DEATH_DA', 'DEATH_DANAME', 'DEATH_MO', 'DEATH_MONAME', 'DEATH_YR', 'DEATH_YRNAME', 'DEATH_HR', 'DEATH_HRNAME', 'DEATH_MN', 'DEATH_MNNAME', 'DEATH_TM', 'DEATH_TMNAME', 'LAG_HRS', 'LAG_HRSNAME', 'LAG_MINS', 'LAG_MINSNAME', 'WORK_INJ', 'WORK_INJNAME', 'HISPANIC', 'HISPANICNAME', 'LOCATION', 'LOCATIONNAME', 'HELM_USE', 'HELM_USENAME', 'HELM_MIS', 'HELM_MISNAME', 'VPICMAKE_x', 'VPICMAKENAME_x', 'VPICMODEL_x', 'VPICMODELNAME_x', 'VPICBODYCLASS_x', 'VPICBODYCLASSNAME_x', 'ICFINALBODY_x', 'ICFINALBODYNAME_x', 'GVWR_FROM_x', 'GVWR_FROMNAME_x', 'GVWR_TO_x', 'GVWR_TONAME_x', 'STATE_y', 'STATENAME_y', 'VE_FORMS_y', 'NUMOCCS', 'NUMOCCSNAME', 'DAY_y', 'DAYNAME_y', 'MONTH_y', 'MONTHNAME_y', 'HOUR_y', 'HOURNAME_y', 'MINUTE_y', 'MINUTENAME_y', 'HARM_EV_y', 'HARM_EVNAME_y', 'MAN_COLL_y', 'MAN_COLLNAME_y', 'UNITTYPE', 'UNITTYPENAME', 'HIT_RUN', 'HIT_RUNNAME', 'REG_STAT', 'REG_STATNAME', 'OWNER', 'OWNERNAME', 'MAKE_y', 'MAKENAME_y', 'MODEL', 'MAK_MOD_y', 'MAK_MODNAME_y', 'BODY_TYP', 'BODY_TYPNAME_y', 'MOD_YEAR_y', 'MOD_YEARNAME_y', 'VIN', 'VINNAME', 'VIN_1', 'VIN_2', 'VIN_3', 'VIN_4', 'VIN_5', 'VIN_6', 'VIN_7', 'VIN_8', 'VIN_9', 'VIN_10', 'VIN_11', 'VIN_12', 'TOW_VEH_y', 'TOW_VEHNAME_y', 'J_KNIFE', 'J_KNIFENAME', 'MCARR_I1', 'MCARR_I1NAME', 'MCARR_I2', 'MCARR_I2NAME', 'MCARR_ID', 'MCARR_IDNAME', 'V_CONFIG', 'V_CONFIGNAME', 'CARGO_BT', 'CARGO_BTNAME', 'HAZ_INV', 'HAZ_INVNAME', 'HAZ_PLAC', 'HAZ_PLACNAME', 'HAZ_ID', 'HAZ_IDNAME', 'HAZ_CNO', 'HAZ_CNONAME', 'HAZ_REL', 'HAZ_RELNAME', 'BUS_USE', 'BUS_USENAME', 'SPEC_USE_y', 'SPEC_USENAME_y', 'EMER_USE_y', 'EMER_USENAME_y', 'TRAV_SP', 'TRAV_SPNAME', 'UNDERIDE', 'UNDERIDENAME', 'ROLLOVER_y', 'ROLLOVERNAME_y', 'ROLINLOC', 'ROLINLOCNAME', 'IMPACT1_y', 'IMPACT1NAME_y', 'DEFORMED', 'DEFORMEDNAME', 'TOWED', 'TOWEDNAME', 'M_HARM', 'M_HARMNAME', 'FIRE_EXP_y', 'FIRE_EXPNAME_y', 'DR_PRES', 'DR_PRESNAME', 'L_STATE', 'L_STATENAME', 'DR_ZIP', 'DR_ZIPNAME', 'L_STATUS', 'L_STATUSNAME', 'L_TYPE', 'L_TYPENAME', 'CDL_STAT', 'CDL_STATNAME', 'L_ENDORS', 'L_ENDORSNAME', 'L_COMPL', 'L_COMPLNAME', 'L_RESTRI', 'L_RESTRINAME', 'DR_HGT', 'DR_HGTNAME', 'DR_WGT', 'DR_WGTNAME', 'PREV_ACC', 'PREV_ACCNAME', 'PREV_SUS1', 'PREV_SUS1NAME', 'PREV_SUS2', 'PREV_SUS2NAME', 'PREV_SUS3', 'PREV_SUS3NAME', 'PREV_DWI', 'PREV_DWINAME', 'PREV_SPD', 'PREV_SPDNAME', 'PREV_OTH', 'PREV_OTHNAME', 'FIRST_MO', 'FIRST_MONAME', 'FIRST_YR', 'FIRST_YRNAME', 'LAST_MO', 'LAST_MONAME', 'LAST_YR', 'LAST_YRNAME', 'SPEEDREL', 'SPEEDRELNAME', 'VTRAFWAY', 'VTRAFWAYNAME', 'VNUM_LAN', 'VNUM_LANNAME', 'VSPD_LIM', 'VSPD_LIMNAME', 'VALIGN', 'VALIGNNAME', 'VPROFILE', 'VPROFILENAME', 'VPAVETYP', 'VPAVETYPNAME', 'VSURCOND', 'VSURCONDNAME', 'VTRAFCON', 'VTRAFCONNAME', 'VTCONT_F', 'VTCONT_FNAME', 'P_CRASH1', 'P_CRASH1NAME', 'P_CRASH2', 'P_CRASH2NAME', 'P_CRASH3', 'P_CRASH3NAME', 'PCRASH4', 'PCRASH4NAME', 'PCRASH5', 'PCRASH5NAME', 'ACC_TYPE', 'ACC_TYPENAME', 'TRLR1VIN', 'TRLR1VINNAME', 'TRLR2VIN', 'TRLR2VINNAME', 'TRLR3VIN', 'TRLR3VINNAME', 'DEATHS', 'DR_DRINK', 'DR_DRINKNAME', 'VPICMAKE_y', 'VPICMAKENAME_y', 'VPICMODEL_y', 'VPICMODELNAME_y', 'VPICBODYCLASS_y', 'VPICBODYCLASSNAME_y', 'ICFINALBODY_y', 'ICFINALBODYNAME_y', 'GVWR_FROM_y', 'GVWR_FROMNAME_y', 'GVWR_TO_y', 'GVWR_TONAME_y', 'TRLR1GVWR', 'TRLR1GVWRNAME', 'TRLR2GVWR', 'TRLR2GVWRNAME', 'TRLR3GVWR', 'TRLR3GVWRNAME', 'STATE', 'STATENAME', 'VE_TOTAL', 'VE_FORMS', 'PVH_INVL', 'PEDS', 'PERNOTMVIT', 'PERMVIT', 'PERSONS', 'COUNTY_y', 'COUNTYNAME', 'CITY', 'CITYNAME', 'DAY', 'DAYNAME', 'MONTH', 'MONTHNAME', 'YEAR', 'DAY_WEEK', 'DAY_WEEKNAME', 'HOUR', 'HOURNAME', 'MINUTE', 'MINUTENAME', 'NHS', 'NHSNAME', 'ROUTE', 'ROUTENAME', 'TWAY_ID', 'TWAY_ID2', 'RUR_URB_y', 'RUR_URBNAME_y', 'FUNC_SYS_y', 'FUNC_SYSNAME_y', 'RD_OWNER', 'RD_OWNERNAME', 'MILEPT', 'MILEPTNAME', 'LATITUDE', 'LATITUDENAME', 'LONGITUD', 'LONGITUDNAME', 'SP_JUR', 'SP_JURNAME', 'HARM_EV', 'HARM_EVNAME', 'MAN_COLL', 'MAN_COLLNAME', 'RELJCT1', 'RELJCT1NAME', 'RELJCT2', 'RELJCT2NAME', 'TYP_INT', 'TYP_INTNAME', 'WRK_ZONE', 'WRK_ZONENAME', 'REL_ROAD', 'REL_ROADNAME', 'LGT_COND', 'LGT_CONDNAME', 'WEATHER', 'WEATHERNAME', 'SCH_BUS_y', 'SCH_BUSNAME_y', 'RAIL', 'RAILNAME', 'NOT_HOUR', 'NOT_HOURNAME', 'NOT_MIN', 'NOT_MINNAME', 'ARR_HOUR', 'ARR_HOURNAME', 'ARR_MIN', 'ARR_MINNAME', 'HOSP_HR', 'HOSP_HRNAME', 'HOSP_MN', 'HOSP_MNNAME', 'FATALS', 'DRUNK_DR']

In [12]:
import numpy as np

# Filtrar solo conductores de motocicleta
df_motos = df_full[
    (df_full['PER_TYP'] == 1) &  # Conductor
    (df_full['BODY_TYP'].between(64, 67))  # Motocicleta
].copy()

print(f"Cantidad de motociclistas identificados: {df_motos.shape[0]}")

# Reemplazar valores en columnas clave
df_motos['HELM_USE'] = df_motos['HELM_USE'].replace({
    1: 'Sí',
    2: 'No',
    9: 'Desconocido'
})

df_motos['INJ_SEV'] = df_motos['INJ_SEV'].replace({
    0: 'Sin lesión',
    1: 'Lesión leve',
    2: 'Lesión moderada',
    3: 'Lesión grave',
    4: 'Fallecido',
    5: 'Desconocido'
})

df_motos['SEX'] = df_motos['SEX'].replace({
    1: 'Hombre',
    2: 'Mujer',
    9: 'Desconocido'
})

# Limpiar edades y descartar valores atípicos
df_motos = df_motos[df_motos['AGE'].between(10, 100)]

# Revisión general
print("\nResumen de variables clave:")
print(df_motos[['INJ_SEV', 'HELM_USE', 'AGE', 'SEX', 'WEATHER', 'HOUR', 'DRUGS']].describe(include='all'))

Cantidad de motociclistas identificados: 3376

Resumen de variables clave:
           INJ_SEV  HELM_USE          AGE     SEX      WEATHER         HOUR  \
count         3365    3365.0  3365.000000    3365  3365.000000  3365.000000
unique           7       NaN          NaN       3          NaN          NaN
top     Sin lesión       NaN          NaN  Hombre          NaN          NaN
freq          2168       NaN          NaN    3246          NaN          NaN
mean           NaN      20.0    47.060327     NaN     8.122140    12.010401
std            NaN       0.0    13.331888     NaN    22.343103     7.471958
min            NaN      20.0    15.000000     NaN     1.000000     0.000000
25%            NaN      20.0    37.000000     NaN     1.000000     7.000000
50%            NaN      20.0    48.000000     NaN     1.000000    12.000000
75%            NaN      20.0    57.000000     NaN     2.000000    17.000000
max            NaN      20.0    88.000000     NaN    99.000000    99.000000

              DRUGS
count   3365.000000
unique          NaN
top             NaN
freq            NaN
mean       2.704606
std        3.807745
min        0.000000
25%        0.000000
50%        0.000000
75%        8.000000
max        9.000000